/*
 * General Styling
 * * * * * * * * * */

 body {
   margin: 0;
   font-family: arial, sans-serif;
 }

.red-divider {
  margin-top: 24px;
  background-color: #fd7d77;
  height: 4px;
  border-radius: 5px;
  width: 110px;
}

/*
 * Header Styling
 * * * * * * * * * */

#header {
  background-image: url('../images/general/header-home.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height: 240px;
  width: auto;
}

#header ul {
  display: inline;
}

#header li {
  display: inline;
}

#header #logo {
  float: left;
  margin-top: 70px;
  margin-left: 80px;
}

#header .nav-menu {
  float: right;
  margin-top: 76px;
  margin-right: 70px;
}

#header .nav-link {
  padding-left: 20px;
  padding-right: 20px;
  transition: opacity 0.3s ease-in-out;
}

#header .nav-menu .nav-link:hover {
  opacity: 0.7;
}

#header a {
  text-decoration: none !important;
}

/*
 * Main Section Styling
 * * * * * * * * * * * */

  #main-section {
    display: block;
    margin: 0 auto;
  }

 .content {
   float: left;
   margin-top: 60px;
   margin-left: 135px;
 }

 #about-intro {
   letter-spacing: 1px;
   font-size: 29px;
   color: #848484;
   margin-bottom: 15px;
 }

 .about-divider {
   height: 12px;
 }

 #about-header {
   font-size: 32px;
   color: #3b3b3b;
   font-weight: bold;
 }

.side-one {
  margin-top: 26px;
  float: left;
  width: 200px;
  padding-right: 25px;
  letter-spacing: 0.3px;
  line-height: 25px;
  color: #3b3b3b;
}

.side-two {
  margin-top: 26px;
  float: left;
  width: 200px;
  letter-spacing: 0.3px;
  line-height: 25px;
  color: #3b3b3b;
}

.content-text ul, li {
   text-align: left;
}

.content-text td {
 padding-right: 30px;
 letter-spacing: 0.3px;
 line-height: 28px;
 color: #3b3b3b;
}

.content-zodiac {
  float: left;
  margin-top: 50px;
  margin-left: 75px;
}

.content-zodiac table {
  margin-top: 25px;
  border-collapse: collapse;
  width: 700px;
}

#find-zodiac {
  margin-bottom: -5px;
  font-weight: bolder;
  font-size: 18.5px;
  letter-spacing: 1.2px;
  color: #3b3b3b;
}

.row-1 {
  margin: 0;
  height: 100px;
  margin-top: 28px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  width: 510px;
  padding-left: 0px;
  border-bottom: 2px solid #e8e8e8;
}

.row-1 li {
  padding-left: 8px;
  display: inline;
}

.row-1 li a {
  text-decoration: none;
}

.row-2 {
  margin: 0;
  height: 100px;
  margin-top: 18px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  width: 100%;
  padding-left: 0px;
  border-bottom: 2px solid #e8e8e8;
}

.row-2 li {
  padding-left: 8px;
  display: inline;
}

.row-2 li a {
  text-decoration: none;
}

.row-3 {
  margin: 0;
  height: 100px;
  margin-top: 18px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  width: 100%;
  padding-left: 0px;
}

.row-3 li {
  padding-left: 8px;
  display: inline;
}

.row-3 li a {
  text-decoration: none;
}

.zodiac-image-normal {
  filter: invert(0%);
  transition: opacity 0.2s ease-in-out;
}

.zodiac-image-normal:hover {
  cursor: pointer;
  opacity: 0.6;
  filter: hue-rotate(140deg);
}

.zodiac-image-normal-active {
  cursor: pointer;
  opacity: 0.6;
  filter: hue-rotate(140deg);
  transition: opacity 0.2s ease-in-out;
}

.zodiac-image-normal-ignore {
  opacity: 0.6;
  filter: blur(1px);
  transition: opacity 0.2s ease-in-out;
}

.zodiac-image-normal-ignore:hover {
  opacity: 1;
  filter: blur(0px);
  filter: hue-rotate(140deg);
}

@media screen and (max-width: 1250px) {

  .content {
    margin-left: 30px !important;
  }

  .content-zodiac {
    margin-left: 20px !important;
  }

}

@media screen and (max-width: 1225px) {

  #header #logo {
    margin-top: 50px;
  }

  .nav-menu {
    margin-top: 12px !important;
    margin-right: 34px !important;
    margin-left: 32px;
    float: left !important;
  }

}

.centered {
  margin: auto;
  width: 50%;
}

.divider-centered {
  display: block !important;
  margin: 0 auto !important;
  margin-top: 25px !important;
}

/*
 * Contact Form Style
 * * * * * * * * * */

.contact-form {
  width: 40%;
	margin: 0;
	width: 600px;
	font-size: 17px;
	text-align: right;
  margin-left: 25px;
	margin-top: 50px;
	margin-bottom: 100px;
	color: #333;
}

.contact-form h1 {
  text-align: center;
}

.contact-form .name {
  border: 2px solid #555;
  height: 24px;
  width: 420px;
  margin-bottom: 14px;
}

.contact-form .email {
  border: 2px solid #555;
  height: 24px;
  width: 420px;
  margin-bottom: 14px;
}

.contact-form .message {
  border: 2px solid #555;
  width: 420px;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 155px;
}

.contact-form #contact-name {
  position: relative;
  bottom: 5px;
  right: 10px;
}

.contact-form #contact-email {
  position: relative;
  bottom: 7px;
  right: 10px;
}

.contact-form #contact-message {
  position: relative;
  bottom: 72px;
  right: 10px;
}

#name {
  position: relative;
  bottom: 120px;
}

#email {
  position: relative;
  bottom: 95px;
}

#message {
  position: relative;
  bottom: 75px;
}

.btn {
  float: left;
  position: relative;
  top: 14px;
  padding: 11px 30px;
  background-color: #fd706a;
  border: none;
  font-size: 16px;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

/*
 * Footer Styling
 * * * * * * * * * */

 #footer .footer-content {
   margin-top: 700px;
   background-color: #2e3234;
   height: 70px;
 }

 #footer .footer-content-signs {
   margin-top: 640px;
   background-color: #2e3234;
   height: 70px;
 }

 #footer .footer-content-contact {
   margin-top: 240px;
   background-color: #2e3234;
   height: 70px;
 }

 #footer p {
   color: #7e7e7e;
   letter-spacing: 0.8px;
   padding: 18px;
   font-size: 12px;
   line-height: 18px;
   text-transform: uppercase;
 }

 #footer a {
   color: #adadad;
   text-decoration: none;
 }
